
.overflow{
    width: 100%;
    overflow: hidden;
    
}

.galery{
    width: 770px;
    height: 480px;
    margin-top: 5px;
}
 .fotos{
    width: 400%;
    animation-name: animacao;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
.galery .fotos img{
    width: 19.9%;
   
    cursor: pointer; 
}
.galery .fotos img:not(:last-child){
     margin-right: 90px;
}
.fotos img:hover{
    padding: 0.1%;
}

@keyframes animacao{
    0%{ margin-left: 4%;}
    20%{margin-left: 4%;}
    25%{margin-left: -50%;}
    50%{margin-left: -90%;}
    70%{margin-left: -90%;}
    75%{margin-left: -140%;}
    95%{margin-left: -180%;}
    100%{margin-left: 4%;}
}
@media screen and (max-width: 1080px){
    
    @keyframes animacao{
        0%{ margin-left: 20%;}
        20%{margin-left: 20%;}
        25%{margin-left: -70%;}
        50%{margin-left: -70%;}
        70%{margin-left: -158%;}
        75%{margin-left: -158%;}
        95%{margin-left: -240%;}
        100%{margin-left: 20%;}
    }
}
@media screen and (max-width:580px){
    
    .galery{
        width: 500px;
        height: 280px;
       margin: 10px 0px;
    }
     .fotos{
        width: 400%;
        animation-name: animacao;
        animation-duration: 15s;
        animation-iteration-count: infinite;
    }
    .galery .fotos img{
        width: 19.9%;
       
        cursor: pointer; }
    

    @keyframes animacao{
        0%{ margin-left: 15%;}
        20%{margin-left: 15%;}
        25%{margin-left: -85%;}
        50%{margin-left: -85%;}
        70%{margin-left: -185%;}
        75%{margin-left: -185%;}
        95%{margin-left: -280%;}
        100%{margin-left: 15%;}
    }
}