@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Roboto+Condensed:wght@300;400;700&family=Roboto+Slab:wght@500;800&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    color: rgb(255, 255, 255);
    font-family: 'Roboto+Condensed', sans-serif;
    
}
html{
background:linear-gradient(#321037,#321037,  rgb(36, 35, 35))rgb(36, 35, 35);
background-repeat: no-repeat;
background-size: cover;
}
header{
    height: 70px;
     background-color: rgb(0, 0, 0);
    box-shadow: 2px 2px 2px 2px black;
}
.center{
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 2%;
}
.logo{
    
    float: left;
    width: 30%;
}
.logo img{
    float: left;
    cursor: pointer;
    width: 90px;
    margin-top: 20px ;
}
.logo h1{
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
    display: inline-block;
    color: #FA8112;
}
.menu{
    width: 50%;
    float: right;
}
.menu ul{
    margin-top: 20px;
    float: right;
}
.menu ul li{
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    justify-content: space-between;
    font-size: 26px;
    margin-left: 20px;
}
.menu ul li:hover{
    opacity: 0.8;
}
.menu_mobile{
    float: right;
    width: 32px;
    height: 32px;
    margin-top: 25px;
    background-image: url('../img/icone\ _menu.png');
    background-size: 100% 100%;
    cursor: pointer;
    display: none;
}
.menu_mobile ul{
    display: none;
    z-index: 999;
    width: 100%;
    position: absolute;
    left: 0;
    top: 72px;
    text-align: center;
    background-color:rgb(0, 0, 0);
}
.menu_mobile ul li{
    font-size: 23px;
    padding: 20px 0;
}
.menu_mobile ul li:hover{
    
    background-color: #d8730085;
}
.first_letter{
    color: #FA8112;
}
section h1{
    text-align: center;
    font-weight: bold;
    color: #FA8112
}
.influenciadores{
    display: flex;
    justify-content: space-between;

}
.influenciador{
    cursor: pointer;
    display: inline-block;
    margin: 30px;
}
.influenciador img{
    border-radius: 100%;
}
.gradie{
    width: 100%;
}
.gradie h1{
    text-align: center;
    color: #FA8112;
    margin-top: 20px;
    font-size: 26px;
}
.produtos{
    margin-top: 40px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    
}
.produtos a{
    text-decoration: none;
}
.produtos img{
    width: auto;
    border-radius: 10px;
    border-bottom: 1px solid rgb(214, 212, 212);
}
.decoracao{
    margin: 10px;
    color: black;
    text-decoration: none;
}
.est1{
    border-color: white;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    background-color: white;
}
.est1  img{
   height: 300px;
   width: 270px;
}
.produtos .est1:hover{
    box-shadow: 5px 5px 20px rgba(184, 184, 184, 0);
}


.botao_fantasia{
    width: 50%;
    height: 30px;
    border-radius: 20px;
    font-weight: bold;
    margin: 10px;
}
.botao_fantasia:hover{
    cursor: pointer;
    background-color: #FA8112;
    color: white;
    font-size: 15px;
    box-shadow: 1px 1px 100px rgba(0, 0, 0, 0.295);
    border: 1px solid #FA8112;
    
}

@media screen and (max-width:1080px){
    .logo h1{
        width: 1%;
    }
    .menu{
        display: none;
    }
    .menu_mobile{
        
        display: block;
    }

    @media screen and (max-width: 580px){
        .subtitulo{
            margin-top: 20px;
        }
        .produtos{
            display: inline-block;
            justify-content: center;
        }
    
    }
    
}